@{
    ViewData["Title"] = "About";
}
<style>
    h1{
        color: white;
    }
    p{
        color: white;
    }
</style>
<h1>@ViewData["Title"]</h1>

<p>Click<a href="UserStuff"> here</a> to see the repository</p>
